@charset "UTF-8";	
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Courgette');


body {
	font-family: sans-serif;
	background-color: #ffffce; 
	color: rgba(0,0,0,1);
}

header h1{
	font-family: 'Chakra Petch', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px; 
}


header h2{
	font-family: 'Source Serif Pro', serif;
	font-size: 13pt;	
	color: #606000;
	margin: 5px;
}

hgroup img{
	position: absolute;	
	left: 900px;
	top: 220px;

}

li a{
	color:#0404B4	;
	margin-right: : 0px;
	padding: 10px;
}


ul.cursos{
	font-family: 'Courgette', cursive;
	font-size: 17pt;
	color: #888888;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);	 
	display: block;
	width: 1300px;
	float: center;
	padding: 5px;
	margin-top: 10px;
	margin-left: 20px;
	
	 			
}

footer{
    background-color:  rgba(37, 37, 37, 0.5);
    text-align: center;
    padding: 10px;
}

header{
    background-color: rgba(42, 56, 79);
    border: initial;
    padding: 2%;
}