
body{
    background-color:rgb(199,199,199);
}

footer{
    background-color:  rgba(37, 37, 37, 0.5);
    text-align: center;
    padding: 10px;
}

header{
    background-color: rgba(42, 56, 79);
    border: initial;
    padding: 2%;
}
h1.titulo,h2.sub_titulo{
    text-align: center;
    font-family: Arial;
    color: white;
}

/*centraliza o conteúdo da página pelo div*/
div.a {
    max-width: 90%;
    padding: 50 px;
    margin: 0 auto;  
}
img.logo{
    float:center;
    margin-right: 20px;
}
div.b {
    margin: 20px 0px;
}
/*background dos botões em lista e alinhamento de palavras*/
.lista_links{
    text-align: center;
    padding:2%;
    margin: 0%;

}
.lista_links li {
    text-align: center;
    font-size: 17px;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    
}
.lista_links li a{
   text-decoration: none;
   font-family: Arial;
}
